/* div{
    border: solid red 1px;
} */

h5{
    text-transform: uppercase;
}

.card{
    border: green 1px solid;
}

.card-body{
    background-color: green;
    color: white;
    border-radius: 10px 10px 0 0;
}