<div class="container">

    <div class="row d-flex justify-content-center align-content-center flex-column">
        <div class="col-md-5 d-flex mt-5 mb-5">
            <input [(ngModel)]="pokemonType" (keyup.enter)="getPokemonByType()" class="form-control mr-sm-2 " style="width: 300px;" type="text" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="getPokemonByType()">Pesquisar</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Numero de pokemons do tipo {{ tipo }}: {{ lenghtPokemon }}</h2>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-content-center flex-wrap">

        <div *ngFor='let pokemon of pokemons' class="col-md-3 mb-3 d-flex flex-wrap justify-content-center align-items-center">
            <div  class="card text-center d-flex justify-content-center align-items-center" style="width: 14rem;">
                    
                <div>
                    <img class="card-img-top" [src]="pokemon.sprites.front_default" style="max-width: 150px; max-height: 150px;" alt="Imagem de capa do card">
                </div>
                <div>
                  <h5 class="card-title">{{ pokemon.name }}</h5>
                  <p class="card-text" *ngIf="pokemon.types[1] != null; else elseType">{{ pokemon.types[0].type.name }} / {{ pokemon.types[1].type.name }}</p>
                  <ng-template #elseType>
                    <p class="card-text">{{ pokemon.types[0].type.name }} </p>
                  </ng-template>
                  <p class="dexNumber"> #{{ pokemon.id }} </p>
                </div>
              </div>
        </div>
    </div>
</div>






