
h5, h2, p{
    text-transform: uppercase;
}

.card{
    background-color: #fffcf0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-body{
    background-color: red;
    color: white;
    border-radius: 10px 10px 0 0;
    min-width: 200px;
    min-height: 100px;
    margin: 0;
}

.dexNumber{
    color: rgb(167, 167, 167);
}

.pokemon-icon{
    max-width: 100px;
    height: 21px;
}

.pokeball-icon{
    max-width: 30px;
    height: 30px;
}